body{
    font-weight: 650;
    font-size: 16px;
}
h2{
    font-size: 2rem;
}
.container{
    background-color: white;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.containerProducts{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    row-gap: 50px;
    column-gap: 50px;
    margin-top: 40px;
}
.containerProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 4px solid black;
}
.containerProduct2{
    width: 100%;
    height: 100%;
}
.checkboxDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    
    
    
}
.headerProductList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
.ProductList{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.delete-checkbox{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;   
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
    
}
.buttons:hover{
    cursor: pointer;
    background-color: antiquewhite;
}
#add-product-btn{
    all: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
#add-product-btn>p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;  
    margin: 0;
    padding: 0; 
}
#add-product-btn>p:hover{
    cursor: pointer;
}
#delete-product-btn{
    all: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#delete-product-btn>p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;  
    margin: 0;
    padding: 0; 
}
#delete-product-btn>p:hover{
    cursor: pointer;
}


